<template name="semanticLanding">
<!-- Landing Page Menu -->
	<div class="ui two column centered grid">
		<div class="three wide computer column mastheadHomeOrange"></div>
		<div class="ten wide column mastheadHomeOrange">
			<div style="background-color:white;">
				<div class="ui secondary menu">
				  <div class="ui container">
				    <div class="brand item">
						<img class="ui small image" src="../images/logo/groovli.png">
					</div>
					<div class="right menu">
						<div class="item">
							{{#if currentUser}}
								<a id="clickHomeFromLanding" class="item">Home</a><img class="ui avatar image" src="http://graph.facebook.com/{{currentUser.services.facebook.id}}/picture?type=square"><a id="logout" class="item">Logout</a>
								<!--
								<a class="ui simple dropdown landingDropdownMenu item">
									<img class="ui avatar image" src="http://graph.facebook.com/{{currentUser.services.facebook.id}}/picture?type=square"> {{currentUser.services.facebook.first_name}}
							    	<i class="dropdown icon"></i>
									<div class="menu">
										<div id="clickHomeFromLanding" class="item">Home</div>
										<div class="item">Profile</div>
										<div class="ui divider"></div>
										<div id="logout" class="item">Logout</div>
									</div>
								</a>-->
							{{else}}
						        <div id="facebook-login" class="ui facebook button">
						        <i class="facebook icon"></i>
						        Sign in with Facebook</div>
					        {{/if}}
					    </div>
					</div>
				  </div>
				</div>
			</div>
			<div class="ui grid">
				<div class="column large screen computer tablet only">
					<img class="ui fluid image" src="../images/masthead_new.png">
					<a href="https://vimeo.com/145378946" target="blank" class="ui inverted right floated button" title="help / intro / groovli walkthrough">Watch how Groovli works!</a>
				</div>
			</div>
			<div class="mobile only ui centered grid">
				<div class="ui vertical masthead center aligned segment">
				<div class="ui text container">
			      <h1 class="ui inverted header">Your social jukebox</h1>
			      <h2 class="ui inverted header">Make friends through music.</h2>
			      <a href="https://vimeo.com/145378946" target="blank" class="ui inverted button" title="help / intro / groovli walkthrough">Watch how Groovli works!</a>
			      <h2></h2>
			      <h2></h2>
			    </div>
			    </div>
			</div>
		</div>
		<div class="three wide computer column mastheadHomeOrange"></div>
	</div>

<!-- What's trending section-->
	<div class="ui two column centered grid">
		<div class="three wide computer column landingPageTrendingBoxBackground"></div>
		<div class="ten wide column landingPageTrendingBoxBackground">
		  <div class="ui vertical stripe segment">
		    <div class="ui middle aligned stackable grid container">
	        	<h2 class="landingPageHeaderFont">What's trending</h2>
	        	<div class="ui vertically divided grid">
					<div class="doubling five column row">
						{{#if trendingSongsLoaded}}
							{{#each trendingSongs}}
								<div class="column">
									<img class="ui small image" src="{{iTunesLargeAlbumArt}}">
									<div class="content">
										<b>{{trimmedTitle}}</b> <i>by</i>
										<div class="content"><b>{{sa}}</b></div>
									</div>
								</div>
								<!--<div class="card">
									<div class="image">
										<img src="{{iTunesLargeAlbumArt}}">
									</div>
									<div class="content">
										<b>{{st}}</b> <i>by</i>
										<div class="content"><b>{{sa}}</b></div>
									</div>
								</div>-->

							{{/each}}
						{{else}}
							<div class="ui active centered large inline loader"></div>
						{{/if}}
					</div>
				</div>
		    </div>
		  </div>
	  </div>
	  <div class="three wide computer column landingPageTrendingBoxBackground"></div>
  	</div>

<!-- How Groovli Works section - Mobile & Computer separate-->  	

  	<div class="computer tablet only ui two column centered grid">
  		<div class="three wide computer column homeHowGroovliWorksSegment"></div>
		<div class="ten wide column homeHowGroovliWorksSegment">
			<div class="row">
				<h2 class="landingPageHeaderFont" style="color:white;">How Groovli works</h2>
				<h2></h2>
			</div>
		  <img class="ui fluid image" src="../images/groovli_how_works3.png">
		  <center>
		  		{{#unless currentUser}}
					<div id="facebook-login" class="massive ui facebook button">
						<i class="facebook icon"></i>
						Sign in with Facebook
					</div>
			  	{{/unless}}
		  </center>
	 	</div>
	 	<div class="three wide computer column homeHowGroovliWorksSegment"></div>
  	</div>

  	<div class="mobile only ui centered grid">
  		<div class="three wide computer column homeHowGroovliWorksSegment"></div>
		<div class="ten wide column grid homeHowGroovliWorksSegment">
			<h1 class="landingPageHeaderFont" style="color:white;">How Groovli works
			<img class="ui tiny image floated right" src="../images/groovli_mobile_how.png"></h1>
			<h1></h1>
			<div class="ui list">
			  <h3 class="ui inverted header">
			    1. Join Groovli with your Facebook account.
			  </h3>
			  <h3 class="ui inverted header">
			    2. Listen to music shared by you and people inside & outside your social circle.
			  </h3>
			  <h3 class="ui inverted header">
			    3. Make friends with people that share a similar taste in music.
			  </h3>
			</div>
			<center>
				{{#unless currentUser}}
					<div id="facebook-login" class="massive ui facebook button">
						<i class="facebook icon"></i>
						Sign in with Facebook
					</div>
			  	{{/unless}}
			</center>
	  	</div>
	  	<div class="three wide computer column homeHowGroovliWorksSegment"></div>
  	</div>

<!-- Songs recently listened to -->  	

  	<div class="ui two column centered grid">
  		<div class="three wide computer column landingPageTrendingBoxBackground"></div>
		<div class="ten wide column landingPageTrendingBoxBackground">
			<h2 class="landingPageHeaderFont" style="color: #df455f">Someone just listened to...</h2>
		  	<div class="ui four column doubling grid container">
		  		{{#if recentSongsLoaded}}
			  		{{#each songsJustListened}}
						<div class="column">
							<div class="item">
								<img class="ui tiny image" src="{{iTunesLargeAlbumArt}}">
								<div class="content">
								<div class="header">{{trimmedTitle}}</div> <i>by</i>
									{{sa}}
								</div>
							</div>
						</div>
					{{/each}}
				{{else}}
					<div class="ui active centered inline loader"></div>
				{{/if}}
				<div class="column"></div>
				<div class="column"></div>
				<div class="column"></div>
		  	</div>
  		</div>
  		<div class="three wide computer column landingPageTrendingBoxBackground"></div>
  	</div>

<!-- Landing Page Footer section-->  	

  <!--<div class="ui inverted vertical grey footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Contact Us</a>
            <a href="#" class="item">Religious Ceremonies</a>
            <a href="#" class="item">Gazebo Plans</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Banana Pre-Order</a>
            <a href="#" class="item">DNA FAQ</a>
            <a href="#" class="item">How To Access</a>
            <a href="#" class="item">Favorite X-Men</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Footer Header</h4>
          <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
        </div>
      </div>
    </div>
  </div> OLD FOOTER SECTION-->
  <!--<div class="ui inverted vertical grey footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <div class="ui inverted link list">
             <a class="item" href="mailto:sandeep@groovli.com?Subject=Groovli%20-%20Enquiry">Contact Us</a>
            <a class="item" href="{{pathFor 'terms' }}" target="blank">Terms and Conditions</a>
            <a class="item" href="{{pathFor 'privacypolicy' }}" target="blank">Privacy Policy</a>
          </div>
        </div>
        <div class="seven wide column">
          <p>Copyright © Groovli 2015</p>
        </div>
        <div class="five wide column">
          <span><i>{{usersCurrentlyOnline}}</i></span>
        </div>
      </div>
    </div>
  </div>-->
  {{>semanticFooter}}
</template>