<template name="_footer">
  <footer class="footer">
    <div class="container fixed">
      <p class="text-center text-muted">
      	<i>{{usersCurrentlyOnline}}</i>
      	<br><br>
      	<a href="/blog" target="blank"><i class="fa fa-book"></i>&nbsp;Blog</a>&nbsp;&nbsp;
        <a href="mailto:sandeep@groovli.com?Subject=Groovli%20-%20Enquiry" target="blank" ><i class="fa fa-envelope"></i>&nbsp;Contact</a>
      	<br>
        Copyright 2015 &copy; Groovli. All Rights Reserved
      </p>
    </div>
  </footer>
</template>
