<template name="_header">

  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

      <div class="navbar-header">
          {{#if currentlyOnHomePage}}
            <a class="navbar-brand" title="beta">
              <img alt="Brand" height="19px" width="64px" src="../images/logo/groovliLogo_S_1.png">
            </a>
          {{else}}
            <a class="navbar-brand" href="{{pathFor 'home'}}" target="blank" title="beta">
              <img alt="Brand" height="19px" width="64px" src="../images/logo/groovliLogo_S_1.png">
            </a>
          {{/if}}
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        {{#if currentUser}}
          {{>playerControls}}
        {{/if}}
      </div>

      <div class="collapse navbar-collapse navHeaderCollapse">
        {{> slidePanel}}
        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
            <li class="{{ isActiveRoute regex='poll' }}" data-toggle="tooltip" data-placement="top" title="Tell us what you think of Groovli!"><a href="#" id='pollButton'><i class="fa fa-bar-chart"></i> poll</a></li>
            <li class="{{ isActiveRoute regex='contact' }}" data-toggle="tooltip" data-placement="top" title="Have any feedback?  Facing any issues?  Please let us know!"><a href="#" id='contactButton'><i class="fa fa-bullhorn"></i> issues?</a></li>
          {{/if}}
          {{#unless currentUser}}
            <li class="{{ isActiveRoute regex='home' }}"><a href="{{ pathFor 'home' }}"><i class="fa fa-home"></i> home</a></li>
          {{/unless}}
          <!--<li class="{{ isActiveRoute regex='dashboard' }}"><a href="{{ pathFor 'dashboard' }}"><i class="fa fa-gear"></i> Dashboard</a></li>-->
          {{#if currentUser}}
            <li class="{{ isActiveRoute regex='songboard' }}"><a href="{{ pathFor 'songboard' }}"><i class="fa fa-music"></i> songboard</a></li>
          {{/if}}

          {{>userLogin}}
        </ul>
      </div>

    </div>
  </nav>

</template>
