<template name="footer">
 <!-- <footer class="section section-info">
      <div class="row">
        <div class="container-fluid fixed">
          <div class="col-xs-8 col-sm-6 col-md-6 text-inverse">
            <h4 draggable="true">Made with
              <i class="fa fa-fw fa-heart"></i>in India</h4>
            <h6>Copyright 2015 © Groovli. All Rights Reserved</h6>
          </div>
          <div class="col-xs-4 col-sm-6 col-md-6">
            <br>
            <div class="row">
              <div class="col-md-12 text-right">
                <a href="/blog" target="blank"><i class="fa fa-2x fa-book fa-fw text-inverse"></i></a>
                <a href="mailto:sandeep@groovli.com?Subject=Groovli%20-%20Enquiry"><i class="fa fa-2x fa-envelope fa-fw text-inverse"></i></a>
                <a href="https://twitter.com/groovliapp" target="blank"><i class="fa fa-2x fa-fw fa-twitter text-inverse"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>-->
    <nav class="navbar navbar-custom navbar-fixed-bottom">
       <div class="container-fluid fixed">
          <div class="col-xs-8 col-sm-6 col-md-6 text-inverse">
            <h4>Made with
              <i class="fa fa-fw fa-heart"></i> in India</h4>
            <h6>Copyright 2015 © Groovli. All Rights Reserved</h6>
          </div>
          <div class="col-xs-4 col-sm-6 col-md-6">
            <br>
            <div class="row">
              <div class="col-md-12 text-right">
                <a href="/blog" target="blank"><i class="fa fa-2x fa-book fa-fw text-inverse"></i></a>
                <a href="mailto:sandeep@groovli.com?Subject=Groovli%20-%20Enquiry"><i class="fa fa-2x fa-envelope fa-fw text-inverse"></i></a>
                <a href="https://twitter.com/groovliapp" target="blank"><i class="fa fa-2x fa-fw fa-twitter text-inverse"></i></a>
              </div>
            </div>
          </div>
        </div>
    </nav>
    <!-- player controls in footer - experimental
    <nav class="navbar navbar-custom navbar-fixed-bottom">
       <div class="container-fluid fixed">
          <div class="col-xs-4 col-sm-4 col-md-4 text-inverse">
            <h4>Made with
              <i class="fa fa-fw fa-heart"></i> in India</h4>
            <h6>Copyright 2015 © Groovli. All Rights Reserved</h6>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            {{> controls}}
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2">
            <br>
            <div class="row">
              <div class="col-md-12 text-right">
                <a href="/blog" target="blank"><i class="fa fa-2x fa-book fa-fw text-inverse"></i></a>
                <a href="mailto:sandeep@groovli.com?Subject=Groovli%20-%20Enquiry"><i class="fa fa-2x fa-envelope fa-fw text-inverse"></i></a>
                <a href="https://twitter.com/groovliapp" target="blank"><i class="fa fa-2x fa-fw fa-twitter text-inverse"></i></a>
              </div>
            </div>
          </div>
        </div>
    </nav>-->
</template>