<template name="footer">
  <footer class="section section-info">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h1>Made with
            <i class="fa fa-fw fa-heart text-inverse"></i>in Chennai &amp; Bangalore, India</h1>
          <p>Copyright 2015 © Groovli. All Rights Reserved</p>
        </div>
        <div class="col-sm-6">
          <p class="text-info text-right">
            <br>
            <br>
          </p>
          <div class="row">
            <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
              <a href="/blog" target="blank"><i class="fa fa-3x fa-fw text-inverse fa-book"></i></a>
              <a href="mailto:sandeep@groovli.com?Subject=Groovli%20-%20Enquiry"><i class="fa fa-3x fa-fw text-inverse fa-envelope"></i></a>
              <a href="https://twitter.com/groovliapp" target="blank"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 hidden-xs text-right">
              <a href="/blog" target="blank"><i class="fa fa-3x fa-fw text-inverse fa-book"></i></a>
              <a href="mailto:sandeep@groovli.com?Subject=Groovli%20-%20Enquiry"><i class="fa fa-3x fa-fw text-inverse fa-envelope"></i></a>
              <a href="https://twitter.com/groovliapp" target="blank"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>