<template name="semanticLayout">
	<!--homePlayerTabsContainerBoxBackground
		
		<div class="three wide computer tablet column"></div>
		<div class="ten wide computer tablet column homePlayerTabsContainerBoxBackground"></div>
		<div class="ten wide mobile only column"></div>
		<div class="three wide computer tablet column"></div>
		<div class="three wide computer tablet column"></div>
		<div class="ten wide computer tablet column homePlayerTabsContainerBoxBackground"></div>
		<div class="mobile only ten wide column"></div>
		<div class="three wide computer tablet column"></div>

		WORKING layout right now:
	-->
	{{> Template.dynamic template=header}}
	<div class="ui stackable grid">
		<!--PADDING-->
		<!--REMOVE PADDING FOR NOW WITH NEW SECONDARY MENU<div class="sixteen wide column"></div>-->
		<div class="sixteen wide column homePlayerTabsContainerBoxBackground"></div>

		<!--PADDING grey box beginning
		<div class="one wide computer column homePlayerTabsContainerBoxBackground"></div>
		<div class="fourteen wide computer only column homePlayerTabsContainerBoxBackground">
			{{>semanticBreadcrumbNav}}
		</div>
		<div class="one wide computer only column homePlayerTabsContainerBoxBackground"></div>-->
		<!--ACTUAL CONTENT - BEGIN-->
		<div class="sixteen wide mobile only column homePlayerTabsContainerBoxBackground"></div>
		<div class="one wide computer only column homePlayerTabsContainerBoxBackground"></div>
		<div class="eight wide computer sixteen wide tablet sixteen wide mobile column homePlayerTabsContainerBoxBackground">
			{{> Template.dynamic template=main}}
		</div>
		<div class="six wide computer sixteen wide tablet sixteen wide mobile column homePlayerTabsContainerBoxBackground">
			{{> Template.dynamic template=sidebar}}
		</div>
		<div class="one wide computer column homePlayerTabsContainerBoxBackground"></div>
		<!--ACTUAL CONTENT - BEGIN-->
	</div>
	{{> Template.dynamic template=footer}}
	<!--{{> Template.dynamic template=header}}
	<div class="ui stackable grid">
		<div class="sixteen wide column"></div>
		<div class="sixteen wide column"></div>
		<div class="{{dynamicScreenSizeForPlayer}}">
			{{> Template.dynamic template=main}}
		</div>
		<div class="{{dynamicScreenSizeForTabs}}">
			{{> Template.dynamic template=sidebar}}
		</div>
	</div>
	{{> Template.dynamic template=footer}}
	screen size: {{screenSize}}-->
</template>