<template name="semanticProfileLayout">
	{{> Template.dynamic template=header}}
	<div class="ui stackable grid">
		<!--PADDING-->
		<!--<div class="sixteen wide column"></div>
		<div class="sixteen wide column"></div> older version before mathu visual audit-->

		<!--PADDING grey box beginning-->
		<div class="one wide computer column homePlayerTabsContainerBoxBackground"></div>
		<div class="fourteen wide computer only column homePlayerTabsContainerBoxBackground">
			<!--{{>semanticBreadcrumbNav}}-->
		</div>
		<div class="one wide computer only column homePlayerTabsContainerBoxBackground"></div>
		<!--ACTUAL CONTENT - BEGIN-->
		<div class="one wide computer only column homePlayerTabsContainerBoxBackground"></div>
		<div class="fourteen wide computer sixteen wide tablet sixteen wide mobile column homePlayerTabsContainerBoxBackground">
			{{> Template.dynamic template=main}}
		</div>
		<!--<div class="two wide computer sixteen wide tablet sixteen wide mobile column homePlayerTabsContainerBoxBackground">
			{{> Template.dynamic template=sidebar}}
		</div>-->
		<div class="one wide computer column homePlayerTabsContainerBoxBackground"></div>
		<!--ACTUAL CONTENT - BEGIN-->
	</div>
	{{> Template.dynamic template=footer}}
</template>