<template name="v1Layout">
  <!--[if lt IE 9]>
    <p class="browser-warning"><strong><i class="icon-exclamation-sign"></i> Warning</strong> - You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to properly view this website.</p>
  <![endif]-->

  <!--{{> header}} NEWER VERSION-->
  {{>Template.dynamic template=headerSection}}

  <!--{{> yield}} NEWER VERSION-->

  <div class="container"> <!--for use within older version-->
    {{>Template.dynamic template=content}}
  </div>
  
  {{>Template.dynamic template=footerSection}}

  <!--{{> footer}} NEWER VERSION-->
</template>
