<template name="contactForm">
	<style>

		.feedback {
		  background: #fff;
		  width: 415px;
		  height: 440px;
		  -moz-border-radius: 3px;
		  -webkit-border-radius: 3px;
		  border-radius: 3px;
		  margin: 50px auto;
		  -moz-box-shadow: 0 0 3px #555;
		  -webkit-box-shadow: 0 0 3px #555;
		  box-shadow: 0 0 3px #555;
		  padding: 15px;
		}

		.feedback h1, p {
		  margin: 0px;
		  padding: 0px;
		  line-height: normal;
		  border: 1px 0px 1px 1px solid #eee;
		}

		.feedback p {
		  margin-bottom: 5px;
		}

		.feedback ul.type li {
		  display: inline-block;
		  margin-right: 5px;
		}

		.feedback ul.type li:last-child {
		  margin-right: 0;
		}

		.feedback ul.type li.active a {
		  background: #336699;
		  color: white;
		  position: relative;
		}

		.feedback ul.type li.active a:after {
		  top: 100%;
		  left: 50%;
		  border: solid transparent;
		  content: " ";
		  height: 0;
		  width: 0;
		  position: absolute;
		  pointer-events: none;
		  border-color: rgba(136, 183, 213, 0);
		  border-top-color: #336699;
		  border-width: 5px;
		  margin-left: -5px;
		}

		.feedback ul.type a {
		  background: #f1f1f1;
		  padding: 5px;
		  -moz-border-radius: 3px;
		  -webkit-border-radius: 3px;
		  border-radius: 3px;
		  font-size: 0.9em;
		  color: #555;
		}

		.feedback ul.type a:hover {
		  background: #336699;
		  color: white;
		}

		.feedback ul.type a i {
		  margin-right: 2px;
		}

		.feedback ul.type.speed li:first-child a:hover {
		  background: #57a854;
		  color: white;
		}

		.feedback ul.type.speed li:nth-child(2) a:hover {
		  background: #208cb6;
		  color: white;
		}

		.feedback ul.type.speed li:last-child a:hover {
		  background: #f65b4f;
		  color: white;
		}

		.feedback .form {
		  margin-top: 10px;
		}

		.feedback .form textarea {
		  min-height: 150px;
		  resize: none;
		}

		.feedback .form input, .feedback .form textarea {
		  -moz-border-radius: 3px;
		  -webkit-border-radius: 3px;
		  border-radius: 3px;
		  -moz-box-shadow: none;
		  -webkit-box-shadow: none;
		  box-shadow: none;
		  border: 1px solid #e6e6e6;
		  width:350px;
		}

		.feedback button.success {
		  padding: 10px 15px;
		  background: #339966;
		  margin-top: 20px;
		}
	</style>
	<div class="feedback">
		<h1>Groovli Feedback</h1>
		<br>
		  <p>What would you like to share with us?</p>
		  <ul class="type">
		  	<li id='bug' class="active"><a href="#"><i class="fa fa-bug"></i> Problem</a></li>
		  	<li id='question'><a href="#"><i class="fa fa-question-circle"></i> Question</a></li>
		  	<li id='suggestion'><a href="#"><i class="fa fa-lightbulb-o"></i> Suggestion</a></li>
		  	<li id='kudos'><a href="#"><i class="fa fa-heart"></i> Kudos</a></li>
		  </ul>
		  <div class="form">
		  	<textarea id="feedbackTextArea" name="feedback_text" placeholder="Your feedback"></textarea>
		  	<br>
		    <input id='userEmail' type="text" placeholder="Your Email (will not be published)"/>    
		  </div>
		  <br>
		  <p>How would you rate the overall speed of Groovli?</p>
		    <ul class="type speed">
		    	<li id='siteFast' class="active"><a href="#"><i class="fa fa-bolt"></i> Fast</a></li>
		    	<li id='siteFine'><a href="#"><i class="fa fa-thumbs-o-up"></i> Fine</a></li>
		    	<li id='siteSlow'><a href="#"><i class="fa fa-thumbs-o-down"></i> Slow</a></li>
		    </ul>
		    <br>
		    <button class="btn btn-success" id="submitFeedback"> Submit</button>
	</div>
</template>