<template name="pollForm">
	<style>
		@font-face {
		  font-family: "fycons-1.4.4";
		  src: url('http://livefyre-cdn.s3.amazonaws.com/libs/livefyre-bootstrap/v1.4.4/fonts/fycons.eot');
		  src: url('http://livefyre-cdn.s3.amazonaws.com/libs/livefyre-bootstrap/v1.4.4/fonts/fycons.eot?#iefix') format('embedded-opentype'), url('http://livefyre-cdn.s3.amazonaws.com/libs/livefyre-bootstrap/v1.4.4/fonts/fycons.woff') format('woff'), url('http://livefyre-cdn.s3.amazonaws.com/libs/livefyre-bootstrap/v1.4.4/fonts/fycons.ttf') format('truetype'), url('http://livefyre-cdn.s3.amazonaws.com/libs/livefyre-bootstrap/v1.4.4/fonts/fycons.svg#fycons') format('svg');
		  font-weight: normal;
		  font-style: normal;
		}
		.poll-questions {
		  width: 320px;
		  padding: 20px;
		  background-color: #2f3440;
		  box-sizing: border-box;
		  border-radius: 3px;
		  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		}
		.poll-questions h1 {
		  margin: 0 0 30px;
		  font-size: 30px;
		  font-weight: 500;
		  line-height: 36px;
		  color: #fff;
		}
		.poll-questions ul {
		  list-style: none;
		  margin: 0;
		  padding: 0;
		}
		.poll-questions li {
		  margin-bottom: 18px;
		}
		.poll-questions li:last-child {
		  margin-bottom: 4px;
		}
		.poll-questions a {
		  display: block;
		  padding: 12px 20px;
		  font-size: 24px;
		  font-weight: 500;
		  line-height: 30px;
		  color: #e0e1e3;
		  text-decoration: none;
		  background-color: #82858c;
		  border-radius: 3px;
		  box-shadow: 1px 2px 1px 1px #000;
		  -webkit-transition: background-color 0.25s, color 0.25s;
		          transition: background-color 0.25s, color 0.25s;
		}
		.poll-questions a:hover,
		.poll-questions a:active,
		.poll-questions a.selected {
		  color: #fff;
		  background-color: green;
		}
		.poll-questions a:active {
		  -webkit-transform: translate(1px, 2px);
		      -ms-transform: translate(1px, 2px);
		          transform: translate(1px, 2px);
		  box-shadow: none;
		}
		.poll-questions a.selected {
		  -webkit-animation: answer-selected 0.3s;
		          animation: answer-selected 0.3s;
		}
		.poll-questions a.selected:before {
		  float: right;
		  width: 30px;
		  text-align: center;
		  font-family: "fycons-1.4.4" !important;
		  font-style: normal !important;
		  font-weight: normal !important;
		  font-variant: normal !important;
		  text-transform: none !important;
		  speak: none;
		  line-height: inherit;
		  display: inline-block;
		  vertical-align: middle;
		  -webkit-font-smoothing: antialiased;
		  -moz-osx-font-smoothing: grayscale;
		  font-size: 28px;
		  content: "\e01f";
		  -webkit-animation: check-appear 0.3s;
		          animation: check-appear 0.3s;
		}
		.answered h1 {
		  color: #82858c;
		}
		.answered li a:not(.selected) {
		  color: #595d66;
		}
		.answered li a:not(.selected):hover {
		  background-color: #82858c;
		}
		@-webkit-keyframes answer-selected {
		  0% {
		    -webkit-transform: scale(1, 1);
		            transform: scale(1, 1);
		  }
		  40% {
		    -webkit-transform: scale(1.05, 1.05);
		            transform: scale(1.05, 1.05);
		  }
		  100% {
		    -webkit-transform: scale(1, 1);
		            transform: scale(1, 1);
		  }
		}
		@keyframes answer-selected {
		  0% {
		    -webkit-transform: scale(1, 1);
		            transform: scale(1, 1);
		  }
		  40% {
		    -webkit-transform: scale(1.05, 1.05);
		            transform: scale(1.05, 1.05);
		  }
		  100% {
		    -webkit-transform: scale(1, 1);
		            transform: scale(1, 1);
		  }
		}
		@-webkit-keyframes check-appear {
		  0% {
		    font-size: 0px;
		  }
		  40% {
		    font-size: 34px;
		  }
		  100% {
		    font-size: 28px;
		  }
		}
		@keyframes check-appear {
		  0% {
		    font-size: 0px;
		  }
		  40% {
		    font-size: 34px;
		  }
		  100% {
		    font-size: 28px;
		  }
		}
	</style>
	<div class="poll-questions">
		<h1>How would you rate Groovli?</h1>
		<ul>
		  <li><a href="#" id="excellent">Excellent! Super useful!</a></li>
		  <li><a href="#" id="good">Good</a></li>
		  <li><a href="#" id="bad">Bad</a></li>
		</ul>
	</div>
</template>