<template name='artistChatter'>
	<div id="artistChatContainer" class="wrapper">
		<ul id="chatbox">
			{{#each messages}}
		        {{#if messageIsFromCurrentLoggedInUser}}
		          <li class="myMessageHeadImage" style="background-image: url({{userImageForThisMessage}})"></li>
		          <li class="myMessage" title="{{formattedTimestamp}}">
						{{content}}
		          </li>
		        {{else}}
		          <a href="/profile/{{fromProfileID}}" target='blank' title="{{fromName}}"><li class="otherMessageHeadImage" style="background-image: url({{userImageForThisMessage}})"></li></a>
		          <li class="otherMessage" title="{{formattedTimestamp}}">
		            	{{content}}
		          </li>
		        {{/if}}
			{{/each}}
		</ul>
		<div id="btn-input" class="input-group" style="position: absolute;bottom: 0;left: 0;">
			<input id="input-chatMessage" type="text" class="form-control" placeholder="Type your message here...hit 'Enter' or click button to Send -->">
			<span class="input-group-btn">
			  <button type="button" class="btn btn-primary" id="btn-sendMessage">Send</button>
			</span>
		</div>
	</div>
	<!--<div class='col-md-8 column well well-sm' style="overflow-x: hidden;overflow-y: auto;height:300px;width:100%;">

	    <div id="chatbox" class='chat'>
	        <ul style="margin-bottom:50px">
	          {{#each messages}}
	            {{#if messageIsFromCurrentLoggedInUser}}
	              <div class="message me" title="{{formattedTimestamp}}">
	                <img src="{{userImageForThisMessage}}" />
	                <div><p>{{content}}</p></div>
	              </div>
	            {{else}}
	              <div class="message" title="{{formattedTimestamp}}">
	                <img src="{{userImageForThisMessage}}" />
	                <div><p>{{content}}</p></div>
	              </div>
	            {{/if}}
	          {{/each}}
	        </ul>
	        <div id="btn-input" class="input-group" style="position: absolute;bottom: 0;left: 0;">
	          <input id="input-chatMessage" type="text" class="form-control" placeholder="Type your message here...hit 'Enter' or click button to Send">
	          <span class="input-group-btn">
	              <button type="button" class="btn btn-primary" id="btn-sendMessage">Send</button>
	          </span>
	        </div>
	    </div>
  </div>-->
</template>