<template name="sSearch">
	{{#if onSongboardPages}}
		<!--<div id="headerMenuSearchBox" class="ui category search item">
		  <div class="ui transparent icon input">
		    <input class="prompt" type="text" placeholder="Search within Groovli...">
		    <i class="search link icon"></i>
		  </div>
		  <div class="results"></div>
		</div>-->
	    <div id="headerMenuSearchBox" class="ui category search item">
		  <div class="ui icon input">
		    <input class="prompt" type="text" placeholder="Search within Groovli...">
		    <i class="search icon"></i>
		  </div>
		  <div class="results"></div>
		</div>
		<!--{{activatePopups}}-->
	{{/if}}
</template>