<template name="watchVimeoHowItWorksTemplate">
	<div id="watchVimeoHowItWorksContainer" class="ui two column centered grid" style="display: none;">
		<div class="two wide column mastheadHomeOrange"></div>
		<div class="twelve wide only column mastheadHomeOrange">
			<p>
				{{#if vimeoOpen}}
					<div id="watchVimeoHowItWorksVideoContainer" class="ui embed">
						<iframe src="https://player.vimeo.com/video/145378946?color=ff9933&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/145378946">Groovli Demo</a> from <a href="https://vimeo.com/user19566042">Sandeep Jayendran</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
					</div>
				{{/if}}
			</p>
		</div>
		<div class="two wide column mastheadHomeOrange"></div>
	</div>
</template>