<template name="yearSpecificSongItem">
	<a class="ui fluid card songBrowserItem" href="" title="what you said: '{{songItemMessageForUser}}'">
		<div class="content" style="padding-bottom: 0px;">
			<div class="left floated ui image">
				{{#if hasAlbumArt}}
					<img src="{{albumArtForCurrentSong}}">
				{{else}}
					<img src="{{youtubeThumbnail}}">
				{{/if}}
			</div>
			<div class="content">
				<div class="header">{{trimmedArtist}}</div>
				<div class="description">
				  <p>{{trimmedTitle}}</p>
				</div>
				<div class="left floated meta">
			      <span class="category">shared by you {{howManyOthers}}<br> on {{songItemTimeStamp}}</span>
			    </div>
		    </div>
		</div>
		<div class="extra content">
			<div class="left floated author">
				{{{songDataSource}}}
			</div>
			<div class="right floated author">
				{{{songType}}}
			</div>
		</div>
	</a>
</template>