<template name="reviewExisting">
	<h1>Review Existing Songs</h1>
	{{retrieveExistingSongsForReview}}
	<ul id='reviewExisting' class="reviewItems">
		<li>
			{{#each existingSongsForReview}}
				{{> reviewItem}}
			{{/each}}
		</li>
	</ul>
	<div class="col-md-2 column">
		<h2><strong>{{existingCount}}</strong></h2>                    
		<p><small>songs in total</small></p>
	</div>
	<div class="col-md-8 column">
		<br>
		<button class="btn btn-warning btn-lg" id="getMissingAlbumArt"> Get missing album art</button>
	</div>
</template>