<template name="reviewArtists">
	<h1>Review Verified Artists</h1>
	{{retrieveArtistsForReview}}
	<ul id='reviewExisting' class="reviewItems">
		<li>
			{{#each existingArtistsForReview}}
				{{> artistItem}}
			{{/each}}
		</li>
	</ul>
	<div class="col-md-2 column">
		<h2><strong>{{existingCount}}</strong></h2>                    
		<p><small>artists in total</small></p>
	</div>
	<div class="col-md-8 column">
		<br>
		<button class="btn btn-warning btn-lg" id="getArtistDetails"> get Details for All Artists</button>
	</div>
</template>