<template name="globalTabs">
	{{#if currentUser}}
		{{getDateRange}}
		{{#if dateRangeLoaded}}
			<div class="ui top attached tabular menu">
			  <a id="globalTabHeader" class="item active" data-tab="global" data-content="{{#if notifsEnabled}}ONLY music shared by people outside your social circle will show up here; within this view you can also filter songs by year shared; following people from this list will make them your tastemaker, and they will start showing up in the tastemakers tab instead of the global view{{/if}}" data-variation="inverted large">Global</a>
			  {{> searchResultsTab}}
			</div>
			<div class="ui icon menu orangeHeaderMenu" style="margin:0px;">
				<!--<a class="item">
					<i class="tiny step backward icon orangeHeaderMenuItem"></i>
				</a>
				<a class="item">
					<i class="tiny play icon playInControls orangeHeaderMenuItem"></i>
				</a>
				<a class="item">
					<i class="tiny step forward icon orangeHeaderMenuItem"></i>
				</a>-->
				{{>flylistFilter}}
			</div>
			{{> globalPage}}
			{{> sresultslist}}
		{{/if}}
	{{/if}}

	{{>newFlylistModal}}
	{{initiateSongTabs}}
	{{activatePopups}}
</template>