<template name="globalPage">
	<div class="ui bottom attached tab segment active" data-tab="global">
		{{switchTabsAndAnimateListToCurrentlyPlayingSong}}
		{{#if globalSongsExist}}
	    	<div class="ui label"><i class="music icon"></i> {{sgLength}}</div>
	    {{/if}}
	    {{>globalDateFilter}}
	  	<div id="sgList" class="songLists">
	  		{{fixGSongCursor}}
	  		{{#if globalSongsExist}}
				{{startPlayer}}
			{{/if}}
			{{#if pagedGlistSongsLoaded}}
				{{#each songs}}
					{{> semanticGlobalItem}}
				{{/each}}
				{{#unless globalSongsExist}}
					{{#if genresSelected}}
						No matching songs for current flylist / genre selection! <br>change your flylist settings and maybe get more global matching music! :D
					{{else}}
						No songs found within the global community for that year!
					{{/if}}
				{{/unless}}
			{{else}}
				<div class="ui active centered large inline loader"></div>
			{{/if}}	
		</div>
		<div class="ui grid">
			<div class="computer large screen widescreen mobile only row">
				<div class="ui one item secondary menu">
					<div class="ui tiny buttons">
						<button id="previousSGS" class="ui button">&lt;-- newer music</button>
						<div class="or"></div>
						<button id="nextSGS" class="ui button">older music --&gt;</button>
					</div>
				</div>	
			</div>
			<div class="tablet only row">
				<div class="ui one item secondary menu">
					<div class="ui mini buttons">
						<button id="previousSGS" class="ui button">&lt;-- newer music</button>
						<div class="or"></div>
						<button id="nextSGS" class="ui button">older music --&gt;</button>
					</div>
				</div>	
			</div>
		</div>	
	</div>
</template>