<template name="semantictabs">
	{{#if currentUser}}
		<div class="ui top attached tabular menu">
		  <a id="mygroovsTabHeader" class="item active" data-tab="mygroovs" data-content="{{#if notifsEnabled}}ONLY music shared by YOU will show up here{{/if}}" data-variation="inverted large">My Groovs</a>
		  <a id="tastemakersTabHeader" class="item" data-tab="tastemakers" data-content="{{#if notifsEnabled}}ONLY music shared by your friends and people YOU chose to follow from the global community will show up here{{/if}}" data-variation="inverted large">Tastemakers</a>
		  <a id="globalTabHeader" class="item" data-tab="global" data-content="{{#if notifsEnabled}}ONLY music shared by people outside your social circle will show up here; following people from this list will make them your tastemaker, and they will start showing up in the tastemakers tab instead of the global tab{{/if}}" data-variation="inverted large">Global</a>
		  {{> searchResultsTab}}
		</div>
		<div class="ui icon secondary menu orangeHeaderMenu" style="margin:0px;">
			<!--<a class="item">
				<i class="tiny step backward icon orangeHeaderMenuItem"></i>
			</a>
			<a class="item">
				<i class="tiny play icon playInControls orangeHeaderMenuItem"></i>
			</a>
			<a class="item">
				<i class="tiny step forward icon orangeHeaderMenuItem"></i>
			</a>-->
			<!--{{>flylistFilter}} REMOVED FLYLIST FILTERS AND REPLACED WITH SONGBOARD FILTERS-->
			{{>listenToSimilar}}
			<!-- OLD FILTER component
			<select class="ui fluid search labeled icon dropdown" multiple="">
				<option value="">Genre</option>
				{{#each genresForFilter}}
					<option value="{{this}}">{{this}}</option>
				{{/each}}
			</select>-->
		</div>
		{{> smglist}}
		{{> stmlist}}
		{{> sglist}}
		{{> sresultslist}}
		{{initiateSongTabs}}
	{{/if}}

	{{>newFlylistModal}}
	{{activatePopups}}
</template>