<template name="home">
  <div>
    <div class="jumbotron">
		<h1>your social jukebox. clean. simple. groovy!</h1>
		{{#if currentUser}}
			<i><h3 class="page-header">Thank you for joining the Groovli Beta! We look forward to your feedback!</h3></i>
			<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>
		{{else}}
			<h3 class="page-header">Enter your email address and your facebook ID to get on Groovli's beta list.</h3>
			<!--<img class="urkel-gif" src="http://media.giphy.com/media/TaFTuXWTJf2iA/giphy.gif" alt="Steve urkel making faces.">-->
			<form id="request-beta-invite" class="form-horizontal">
				<input type="email" id="betaEmail" name="emailAddress" class="form-control" placeholder="e.g. john.doe@beta.com">
				<br>
				<input type="text" id="fbID" name="facebookID" class="form-control" placeholder="your facebook ID, i.e. facebook.com/<your_fb_id>">
				<br>
				<button type="submit" class="btn btn-success">Request Beta Invite</button>
			</form>
		{{/if}}
		<!--{{>signupCount}} removed out signup count for now-->
	</div>
	<ul class="cb-slideshow">
		{{#each landingPageSongList}}
			<li>
				<span style='background-image: url({{LFMLargeAlbumArt}});'>{{sa}}</span>
				<div>
					<h3><small>someone just listened to <br></small><i>{{st}} </i><br><small>by</small><i> {{sa}}</i></h3>
				</div>
			</li>
		{{/each}}
	</ul>
  </div>
</template>
