<template name="landing">
  <div class="cover">
      <div class="cover-image" style="background-image : url('https://ununsplash.imgix.net/photo-1423753623104-718aaace6772?w=1024&amp;q=50&amp;fm=jpg&amp;s=1ffa61419561b5c796bca3158e7c704c')"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="text-inverse">Your social jukebox. Clean. Simple. Groovy!</h1>
            <p class="text-inverse">
              <i>make friends through music.</i>
            </p>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">Groovli is a social jukebox, purely powered by music shared within your
              social circles, as well as outside them; this enables you to easily connect
              with and make friends with people sharing similar tastes in music, that
              you might have otherwise never had the opportunity to interact with. Easily
              listen / discover / appreciate &amp; discuss new music &amp; artists, sourced
              from within / as well as outside your social circles.</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="../images/fb_statusQuo.png" class="img-responsive">
          </div>
          <div class="col-md-6">
            <h1>Music shared socially eventually gets isolated &amp; forgotten.</h1>
            <h3></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-success">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1></h1>
            <h1>Bring the music &amp; context back; connect &amp; discover better.</h1>
          </div>
          <div class="col-md-6">
            <img src="../images/solution_groovli.png" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
</template>