<template name="reviewComments">
	{{#if currentUser}}
    	{{#if userIsAnAdmin}}
			<h1 class="ui header">Review All Comments</h1>
			<table class="ui celled structured table">
				<thead>
				<tr>
					<th colspan="1">Actions</th>
					<th colspan="1">CommentID</th>
					<th colspan="1">Song</th>
					<th colspan="1">Author</th>
					<th colspan="1">Like Count</th>
					<th colspan="1">Timestamp</th>
					<th colspan="1">Content</th>
				</tr>
				</thead>
				<tbody>
					{{#if commentsLoaded}}
						{{#each commentsForReview}}
							{{>commentReviewItem}}
						{{/each}}
				    {{else}}
			    		<div class="ui active centered large inline loader"></div>
			    	{{/if}}
				</tbody>
				<tfoot>
				  <tr>
				  <th colspan="1">
				    <p><strong>{{currentCursorPosition}} of {{commentsCount}} comments</strong></p>                    
				  </th>
				  <th colspan="1">
				    <select class="ui compact dropdown" id="jumpPaging">
					  <option value="">Jump To</option>
					  {{#each pagingRange}}
					  	<option value="{{this}}">{{this}}</option>
					  {{/each}}
					</select>
				  </th>
				  <th colspan="10">
				    <div class="ui right floated pagination menu">
						<button id="beginningOfCommentList" class="ui icon item {{#if artistListDoesNotRequirePaging}}disabled{{/if}} button">
							<i class="angle double left icon"></i>
						</button>
						<button id="previousComments" class="ui icon item {{#if artistListDoesNotRequirePaging}}disabled{{/if}} button">
							<i class="left chevron icon"></i>
						</button>
						<button id="nextComments" class="ui icon item {{#if artistListDoesNotRequirePaging}}disabled{{/if}} button">
							<i class="right chevron icon"></i>
						</button>
						<button id="endOfCommentsList" class="ui icon item {{#if artistListDoesNotRequirePaging}}disabled{{/if}} button">
							<i class="angle double right icon"></i>
						</button>
				    </div>
				  </th>
				</tr></tfoot>
			</table>
		{{/if}}
  	{{/if}}
	{{#if loggingIn}}
		<div class="ui active centered large inline loader"></div>
	{{/if}}
</template>