<template name="reviewMessages">
	{{#if currentUser}}
    	{{#if userIsAnAdmin}}
			<h1 class="ui header">Review All Messages</h1>
			<table class="ui celled structured table">
				<thead>
				<tr>
					<th colspan="1">Actions</th>
					<th colspan="1">ID</th>
					<th colspan="1">From</th>
					<th colspan="1">To</th>
					<th colspan="1">Read</th>
					<th colspan="1">Timestamp</th>
					<th colspan="1">Content</th>
				</tr>
				</thead>
				<tbody>
					{{#if msgsLoaded}}
						{{#each msgsForReview}}
							{{>semanticMsgReviewItem}}
						{{/each}}
				    {{else}}
			    		<div class="ui active centered large inline loader"></div>
			    	{{/if}}
				</tbody>
				<tfoot>
				  <tr>
				  <th colspan="1">
				    <p><strong>{{currentCursorPosition}} of {{msgCount}} messages</strong></p>                    
				  </th>
				  <th colspan="1">
				    <select class="ui compact dropdown" id="jumpPaging">
					  <option value="">Jump To</option>
					  {{#each pagingRange}}
					  	<option value="{{this}}">{{this}}</option>
					  {{/each}}
					</select>
				  </th>
				  <th colspan="10">
				    <div class="ui right floated pagination menu">
						<button id="beginningOfMsgList" class="ui icon item {{#if artistListDoesNotRequirePaging}}disabled{{/if}} button">
							<i class="angle double left icon"></i>
						</button>
						<button id="previousMsgs" class="ui icon item {{#if artistListDoesNotRequirePaging}}disabled{{/if}} button">
							<i class="left chevron icon"></i>
						</button>
						<button id="nextMsgs" class="ui icon item {{#if artistListDoesNotRequirePaging}}disabled{{/if}} button">
							<i class="right chevron icon"></i>
						</button>
						<button id="endOfMsgList" class="ui icon item {{#if artistListDoesNotRequirePaging}}disabled{{/if}} button">
							<i class="angle double right icon"></i>
						</button>
				    </div>
				  </th>
				</tr></tfoot>
			</table>
		{{/if}}
  	{{/if}}
	{{#if loggingIn}}
		<div class="ui active centered large inline loader"></div>
	{{/if}}
</template>