<template name="semanticUserMaster">
  {{#if currentUser}}
    {{#if userIsAnAdmin}}
      <h1 class="ui header">User Masterlist</h1>
      <table class="ui celled table">
        <thead>
          <tr>
            <th>Action</th>
            <th>Name</th>
            <th>FB ID</th>
            <th>Joined</th>
            <th>Country</th>
            <th>City</th>
            <th>Last Login</th>
            <th>Stories</th>
            <th>Songs</th>
            <th>Total Listens</th>
            <th>FB Friends</th>
            <th>Following</th>
          </tr>
        </thead>
        <tbody>
        {{#if userListLoaded}}
          <td colspan="12"><h3>Online Users</h3></td>
          {{#each onlineUsers}}
            <tr>
              {{getTotalListenCountForUser _id}}
              {{getSongCountForUser services.facebook.id}}
              {{getStoryCountForUser services.facebook.id}}
              <td>
                <button id="deleteUser" class="circular ui icon red button">
                  <i class="icon remove"></i>
                </button>
              </td>
              <td>
                <a href="/profile/{{_id}}" target='blank'><h4 class="ui image header">
                  <img src="http://graph.facebook.com/{{services.facebook.id}}/picture?type=square" class="ui mini rounded image">
                  <div class="content">
                    {{profile.name}}
                    <div class="sub header">{{{currentStatus}}}
                  </div>
                </div>
              </h4></a></td>
              <td>{{services.facebook.id}}</td>
              <td>{{memberSince}}</td>
              <td>{{locationCountry}}</td>
              <td>{{locationCity}}</td>              
              <td>{{lastLogin}}</td>
              <td>{{storyCount}}</td>
              <td>{{songCount}}</td>
              <td>{{listenCount}}</td>
              <td>{{fbFriends.length}}</td>
              <td>{{tastemakers.length}}</td>
            </tr>
          {{/each}}
          <td colspan="12"><h3>Offline Users</h3></td>
          {{#each offlineUsers}}
            <tr>
              {{getTotalListenCountForUser _id}}
              {{getSongCountForUser services.facebook.id}}
              {{getStoryCountForUser services.facebook.id}}
              <td>
                <button id="deleteUser" class="circular ui icon red button">
                  <i class="icon remove"></i>
                </button>
              </td>
              <td>
                <a href="/profile/{{_id}}" target='blank'><h4 class="ui image header">
                  <img src="http://graph.facebook.com/{{services.facebook.id}}/picture?type=square" class="ui mini rounded image">
                  <div class="content">
                    {{profile.name}}
                    <div class="sub header">{{{currentStatus}}}
                  </div>
                </div>
              </h4></a></td>
              <td>{{services.facebook.id}}</td>
              <td>{{memberSince}}</td>
              <td>{{locationCountry}}</td>
              <td>{{locationCity}}</td>              
              <td>{{lastLogin}}</td>
              <td>{{storyCount}}</td>
              <td>{{songCount}}</td>
              <td>{{listenCount}}</td>
              <td>{{fbFriends.length}}</td>
              <td>{{tastemakers.length}}</td>
            </tr>
          {{/each}}
        {{else}}
          <div class="ui active centered large inline loader"></div>
        {{/if}}
        </tbody>
        <tfoot>
          <tr>
          <th colspan="1">
            <p><strong>{{currentCursorPosition}} of {{userCount}} users</strong></p>                    
          </th>
          <th colspan="11">
            <div class="ui right floated pagination menu">
              <button id="previousUsers" class="ui icon item {{#if userListDoesNotRequirePaging}}disabled{{/if}} button">
                <i class="left chevron icon"></i>
              </button>
              <button id="nextUsers" class="ui icon item {{#if userListDoesNotRequirePaging}}disabled{{/if}} button">
                <i class="right chevron icon"></i>
              </button>
            </div>
          </th>
        </tr></tfoot>
      </table>
    {{/if}}
  {{/if}}
  {{#if loggingIn}}
    <div class="ui active centered large inline loader"></div>
  {{/if}}
</template>