<template name="semanticControls">
	<div class="ui grid container">
		<div class="three wide sitewideOrange column">
			<div class="ui red ribbon label">Songboard</div>
		</div>
		<div class="sitewideOrange playerControl column">
			<a href=""><i id="previousButton" class="step backward icon"></i></a>
		</div>
		<div class="sitewideOrange playerControl column">
			<a href="" onClick='playpauseVideo();'><i class="play icon playInControls"></i></a>
		</div>
		<div class="sitewideOrange playerControl column">
			<a href=""><i id="nextButton" class="step forward icon"></i></a>
		</div>
		<div class="eight wide computer eight wide tablet six wide mobile column sitewideOrange">
			<div id="progContainer" class="ui black progress">
				<div id="progBar" class="bar" style="transition-duration: 300ms; width: 33%;"></div>
			</div>
		</div>
		<div id="hideShowVideo" title="toggle video" class="sitewideOrange playerControl two wide computer two wide tablet three wide mobile column">
			<a href=""><i class="record icon"></i></a>
		</div>
		{{encounteredErroneousSong}}
	</div>
</template>