<template name="tasteMakersPage">
	<div class="ui bottom attached tab segment active" data-tab="tastemakers">
		{{switchTabsAndAnimateListToCurrentlyPlayingSong}}
		{{#if tastemakerSongsExist}}
	    	<div class="ui label"><i class="music icon"></i> {{currentCursorPosition}} of {{tmSongCount}}</div>
	    	<!--{{>tastemakersFilter}}-->
	    	{{#if tastemakerCurrentlyNotEverybody}}
	    		<div class="ui basic label float right">{{currentlyChosenTastemakerSongCount}} songs in total / 
	    		<button id="unfollowUser" class="ui red mini button">Unfollow</button>
	    		</div>
	    	{{/if}}
	    {{/if}}
	  	<div id="tmList" class="songLists">
	  		{{fixTMSongCursor}}
	  		{{#if tastemakerSongsExist}}
				{{startPlayer}}
			{{/if}}
			{{#if pagedTMlistSongsLoaded}}
				{{#each songs}}
					{{> semanticTastemakerItem}}
				{{/each}}
				{{#unless tastemakerSongsExist}}
					{{#if genresSelected}}
						No matching songs for current flylist / genre selection! <br>change your flylist settings and maybe get more matching music from your tastemakers! :D
					{{else}}
						Not following anyone yet; switch to My Groovs to listen to music you've shared<br> or the Global Page to follow someone to see their music here!
					{{/if}}
				{{/unless}}
			{{else}}
				<div class="ui active centered large inline loader"></div>
			{{/if}}	
		</div>
		<div class="ui grid">
			<div class="computer large screen widescreen mobile only row">
				<div class="ui one item secondary menu">
					<div class="ui tiny buttons">
						<button id="previousTMS" class="ui button">&lt;-- newer music</button>
						<div class="or"></div>
						<button id="nextTMS" class="ui button">older music --&gt;</button>
					</div>
				</div>	
			</div>
			<div class="tablet only row">
				<div class="ui one item secondary menu">
					<div class="ui mini buttons">
						<button id="previousTMS" class="ui button">&lt;-- newer music</button>
						<div class="or"></div>
						<button id="nextTMS" class="ui button">older music --&gt;</button>
					</div>
				</div>	
			</div>
		</div>			
	</div>
</template>