<template name="profileFollowingSidebar">
	<div class="ui sitewideOrange inverted icon top attached menu">
		<div class="header item">
			Tastemakers ({{counterPosition}}{{followingCount}})
		</div>
		<div class="right menu">
			<a id="previousFollowingList" class="item">
				<i class="caret left icon {{#if tastemakersLessThanPagingLimit}}disabled{{/if}}"></i>
			</a>
			<a id="nextFollowingList" class="item">
				<i class="caret right icon {{#if tastemakersLessThanPagingLimit}}disabled{{/if}}"></i>
			</a>
		</div>
	</div>
	<div class="ui bottom attached tertiary segment">
		<!--<div class="ui items">-->
			<div class="ui six column doubling grid container">
			<!--{{#if tastemakerDetailsLoaded}}
				{{#if notFollowingAnybody}}
					<div class="ui basic segment">
					  <p><i>This person is not following anyone right now...</i></p>
					</div>
				{{else}}
					{{#each peopleFollowedByUser}}
						<div class="column">
							<div class="item">
								<a id="userProfileFollowingLink" href="{{followingLink}}" title="{{name}}">
									<img class="ui tiny rounded image" src="http://graph.facebook.com/{{fbid}}/picture?type=square">
							    </a>
							</div>
						</div>
					{{/each}}
				{{/if}}
			{{else}}
				<div class="ui active centered inline loader"></div>
			{{/if}}-->
				{{#each peopleFollowedByUser}}
					{{#if userIDIsNotNull}}
						<div class="column">
							<div class="item">
								<a id="userProfileFollowingLink" href="/profile/{{uid}}" title="{{firstNameFromFullName}}">
									<img class="ui tiny rounded image" src="http://graph.facebook.com/{{fbid}}/picture?type=square">
							    </a>
							</div>
						</div>
					{{/if}}
				{{/each}}
			</div>
		</div>
	<!--</div>-->
</template>