<template name="sprofile">
	{{#if uObjLoaded}}
		{{#with userObjectForRoute}}
			<div class="ui stackable grid">
				<div class="four wide computer column userProfileHeaderSecondaryColor">
					<div class="ui special cards">
						<div class="card">
						    <div class="image">
						      <!--<div class="ui dimmer">
						        <div class="content">
						          <div class="center">
						            <div class="ui inverted button">Add Friend</div>
						          </div>
						        </div>
						      </div>-->
						      <img src="http://graph.facebook.com/{{services.facebook.id}}/picture?type=large">
						    </div>
						    <div class="content">
						    	{{#if userProfileIsNotYou}}
                                    <span class="header">{{services.facebook.first_name}}</span>
                                {{else}}
                                    <span class="header">you</span>
                                {{/if}}						      	
						      <div class="meta">
						      	{{#if lastActivityExists}}
						       		<span>Last Seen: {{lastActivity}}</span>
						       	{{/if}}
						      </div>
						    </div>
						    <div class="content">
						    	<span class="left floated">
						    		<i class="{{locationFlagCode}}" title='{{baseLocation.country}}'></i>
						    	</span>
								<span class="right floated time">
									Joined: {{memberSince createdAt}}
								</span>
						    </div>
						    <div class="content">
						    	<div class="content">
						    		{{#if topTenGenresLoaded}}
								       	<span class="left floated"><b>Top Genres:</b>
								       		{{#if hasTopTenGenres}}
										       	{{#each topTenGenres}} 
										       		<a href="/genre/{{this._id}}" class="ui green label"><b>{{lowerCasedText this.name}}</b></a>
										       	{{/each}}
									       	{{else}}
									       		<div class="ui basic segment">
												  <p><i>{{userFirstName}} hasn't yet shared enough music, to know their top genres.</i></p>
												</div>
									       	{{/if}}
								       	</span>
							       	{{else}}
								    	<div class="ui active centered inline loader"></div>
								    {{/if}}
						       	</div>
						    </div>
						    {{#if userIsKing}}<!--ADMIN SECTION-->
					       	<div class="content">
					       		<div class="content">
							       	<span class="left floated"><b>Admin:</b>
						       		<a href="/ee_users" class="ui mini purple button">User Masterlist</a>
						       		</span>
						       	</div>
					       	</div>
					       	{{/if}}
						    <div class="extra content">
						    	{{#if userProfileIsNotYou}}
                                    {{{isUserAFBFriend}}}
                                    {{#if alreadyFollowed}}
                                        <button id="unfollowUser" class="right floated red ui button">Unfollow</button>
                                    {{else}}
                                        <button id="followUser" class="right floated green ui button">Follow</button>
                                    {{/if}}
                                {{else}}
                                    {{{fbFriendCount}}}
                                {{/if}}
						    </div>
					  	</div>
				  	</div>
			  	</div>
			  	<div class="five wide computer four wide tablet sixteen wide mobile column userProfileHeaderSecondaryColor">
				  	{{> profileFaveBands}}
			  	</div>
			  	<div class="six wide computer column userProfileHeaderSecondaryColor">
				  	<div class="ui stackable grid">
				  		<div class="sixteen wide column">
							{{> profileFollowerSidebar}}
						</div>
						<div class="sixteen wide column">
							{{> profileFollowingSidebar}}
						</div>
					</div>
			  	</div>			  	
			  	<div class="eight wide computer column"><!--twelve for extra space for following / follower count-->
			  		<div class="ui divider"></div>
				  	<div class="ui mini statistics">
				  		{{#if songsShared}}
				  			{{#if songCountLoaded}}
								<div class="statistic">
									<div class="value">
									  {{songCount}}
									</div>
									<div class="label">
									  Songs
									</div>
								</div>
							{{else}}
								<div class="ui active small inline loader"></div>
						  	{{/if}}
						  <div class="statistic">
						  	{{#if songTimeSpanLoaded}}
							  	<div class="value">
							      {{songsTimeSpan}}
							    </div>
							    <div class="label">
							      spanning
							    </div>
							{{else}}
								<div class="ui active small inline loader"></div>
						    {{/if}}					    
						  </div>
				  		{{/if}}
					  <div class="statistic">
					  	{{getRatingCountForUser}}
					  	{{#if ratingCountLoaded}}
						    <div class="value">
						      {{ratingCount}}
						    </div>
						    <div class="label">
						      Songs Rated
						    </div>
						{{else}}
							<div class="ui active small inline loader"></div>
					    {{/if}}
					  </div>
					  {{getTotalListenCountForUser}}
					  {{#if listenCountLoaded}}
                      	{{{listenCount}}}
                      {{else}}
                      	<div class="ui active small inline loader"></div>
                      {{/if}}
                      <div class="statistic">
					    <div class="value">
					      {{favoriteCount}}
					    </div>
					    <div class="label">
					      favorites
					    </div>
					  </div>
					  <!--<div class="statistic">
					    <div class="value">
					      {{followerCount}}
					    </div>
					    <div class="label">
					      Followers
					    </div>
					  </div>
					  <div class="statistic">
					    <div class="value">
					      {{followingCount}}
					    </div>
					    <div class="label">
					      Following
					    </div>
					  </div>-->
					</div>
					<div class="ui divider"></div>
				</div>
			</div>
			{{>recentListens}}
			<!--<div class="ui two column grid">
				<h3 class="ui header">Recently shared ({{currentCursorPosition}} of {{songCount}}):</h3>
				<h2 class="ui header"></h2>
			</div>-->
			<div class="ui stackable grid">
				<div class="ten wide computer sixteen wide tablet sixteen wide mobile column">
					<div class="ui pointing secondary menu userProfileSongTabs">
					  {{#if songsShared}}
					  	<a class="active item" data-tab="userLibrary">{{#if userProfileIsNotYou}}{{services.facebook.first_name}}'s Groovs{{else}}Your Groovs{{/if}} ({{currentCursorPosition}} of {{songCount}})</a>
					  {{else}}
					  	<a class="active item" data-tab="userLibrary">{{#if userProfileIsNotYou}}{{services.facebook.first_name}}'s Groovs{{else}}Your Groovs{{/if}} (0)</a>
					  {{/if}}
					  {{#if hasFavorites}}
					  	<a class="item" data-tab="userFavorites">Favorites</a>
					  {{/if}}
					</div>
					<div class="ui active tab segment" data-tab="userLibrary">
							<div id="recentShared" class="songLists">
							{{#if pagedSongsLoaded}}
								{{#if songsShared}}
									{{#each recentSharedSongs}}
										{{>profileSongItem}}
									{{/each}}
								{{else}}
									<div class="ui basic segment">
									  <p><i>{{userFirstName}} sadly hasn't yet shared any music.</i></p>
									</div>
								{{/if}}
							{{else}}
								<div class="ui active centered large inline loader"></div>
							{{/if}}
							</div>
							<div class="tablet only row">
								<div class="ui one item secondary menu">
									<div class="ui mini buttons">
										<button id="previousMGS" class="ui button">&lt;-- newer music</button>
										<div class="or"></div>
										<button id="nextMGS" class="ui button">older music --&gt;</button>
									</div>
								</div>	
							</div>			  
					</div>
					{{#if hasFavorites}}
						<div class="ui tab segment" data-tab="userFavorites">
							{{>userProfileFavorites}}
						</div>
					{{/if}}
				</div>	
			</div>
	  	{{/with}}
  	{{/if}}
</template>