<template name="messagesMaster">
  <h2>Messages</h2>
	<div class='col-md-4 column'>
    <h3>Friends & Tastemakers</h3>
    <div class="list-group">
      {{#each userList}}
        <a id='{{services.facebook.id}}' href="#" class="list-group-item">{{profile.name}}{{{currentStatus}}}{{{messageCountPerUser}}}</a>
      {{/each}}
    </div>
  </div>
  <div class='col-md-8 column well well-lg' style="overflow-x: hidden;overflow-y: auto;height:500px;">
    <div id="chatbox" class='chat'>
      {{#if conversationSelected}}
        <ul style="margin-bottom:50px">
          {{#each messages}}
            {{#if messageIsFromCurrentLoggedInUser}}
              <div class="message me" title="{{formattedTimestamp}}">
                <img src="{{userImageForThisMessage}}" />
                <div><p>{{content}}</p></div>
              </div>
            {{else}}
              <div class="message" title="{{formattedTimestamp}}">
                <img src="{{userImageForThisMessage}}" />
                <div><p>{{content}}</p></div>
              </div>
            {{/if}}
          {{/each}}
        </ul>
        <div id="btn-input" class="input-group" style="position: absolute;bottom: 0;left: 0;">
          <input id="input-chatMessage" type="text" class="form-control" placeholder="Type your message here...">
          <span class="input-group-btn">
              <button class="btn btn-warning btn-block" id="btn-sendMessage">Hit Enter or Click to Send</button>
          </span>
        </div>
      {{else}}
        <center><h1><i>No people selected.</i></h1></center>
      {{/if}}
    </div>
  </div>
</template>