<template name="mutualItem">
	<div class='thumbnail songBrowserItem' href={{songID}} data-toggle="tooltip" data-placement="top" title={{songItemMessageForUser}}>
		<div class="col-md-1 column" style="float:left;width:100px;">
			<a href="/profile/{{mutualID}}" target='blank'><img class="img-rounded headerProfileImage" src="{{mutualUserThumbnail}}"></a>
		</div>
		<div class="col-md-5 column" align="left">
			<h5>{{mutualUserSocialName}}</h5>also listened to <br>
			<h5 class='mutualItemText'>{{songArtist}} - {{songTitle}}</h5>
			{{#if listenCountMoreThanOne}}
				<h6 class='text-muted'><i>{{listenCount}} times</i></h6>
			{{else}}
				<h6 class='text-muted'><i>{{listenCount}} time</i></h6>
			{{/if}}
		</div>
		<div class="col-md-4 column">
			<img src="{{youtubeThumbnail}}" style="float:right;" height="90px" width="120px">
		</div>
		<div style="clear:both;"></div>
	</div>
</template>