<template name="profileTabs">
	{{retrieveListenHistoryForUser}}
	<div role="tabpanel">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs listenHistoryTab" role="tablist" id="profileTabs">
			<li role="presentation" class="active"><a href="#listenHistory" aria-controls="listenHistory" role="tab" data-toggle="tab">history</a></li>
			{{#if userProfileIsYou}}
				<li role="presentation"><a href="#mutualListen" aria-controls="mutualListen" role="tab" data-toggle="tab">mutual</a></li>
			{{/if}}
			{{#if userIsKing}}
				{{retrievePendingSongsForReview}}
				<li role="presentation"><a href="#reviewPending" aria-controls="reviewPending" role="tab" data-toggle="tab">review pending</a></li>
			{{/if}}
			{{#if userIsKing}}
				{{retrieveExistingSongsForReview}}
				<li role="presentation"><a href="#reviewExisting" aria-controls="reviewExisting" role="tab" data-toggle="tab">review existing</a></li>
			{{/if}}
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="listenHistory">
				<ul id='listenHistory' class="listenHistory">
				<li>
					{{#each listenHistoryForUser}}
						{{> historyItem}}
					{{/each}}
				</li>
				</ul>
				<h2><strong>{{historyCount}}</strong></h2>                    
	            <p><small>listens</small></p>
			</div>
			{{#if userProfileIsYou}}
				<div role="tabpanel" class="tab-pane fade" id="mutualListen">
					<ul id='listenHistory' class="listenHistory">
						<li>
							{{#each mutualListenHistoryForUser}}
								{{> mutualItem}}
							{{/each}}
						</li>
					</ul>
				</div>
			{{/if}}
			{{#if userIsKing}}
				<div role="tabpanel" class="tab-pane fade" id="reviewPending">
					<ul id='listenHistory' class="listenHistory">
						<li>
							{{#each pendingSongsForReview}}
								{{> reviewItem}}
							{{/each}}
						</li>
					</ul>
					<h2><strong>{{pendingCount}}</strong></h2>                    
	            	<p><small>pending</small></p>
				</div>
			{{/if}}
			{{#if userIsKing}}
				<div role="tabpanel" class="tab-pane fade" id="reviewExisting">
					<ul id='listenHistory' class="listenHistory">
						<li>
							{{#each existingSongsForReview}}
								{{> reviewItem}}
							{{/each}}
						</li>
					</ul>
					<h2><strong>{{existingCount}}</strong></h2>                    
	            	<p><small>songs in total</small></p>
				</div>
			{{/if}}
		</div>
	</div>
</template>