<template name="userLogin">
	{{#if currentUser}}
	  <!--<ul class="nav navbar-nav navbar-right">-->
		<li>
			<a class='headerProfileImageLink' href="/profile/{{currentUser._id}}" target='blank' data-toggle="tooltip" data-placement="top" title="Your profile page"><img class="img-rounded headerProfileImage" style="width:40px;height:40px;" src="http://graph.facebook.com/{{currentUser.services.facebook.id}}/picture?type=square"></a>
		</li>
		 <li class="{{ isActiveRoute regex='messages' }}">
		 	<a href="{{ pathFor 'messages' }}" target='blank' title="messages"><i class="fa fa-comment"></i>
			 {{#if anyUnreadMsgs}}
			 	<span class="badge badge-error">{{unreadMsgCount}}</span>
			 {{else}}
			 	<span class="badge"></span>
			 {{/if}}
		 	</a>
		 </li>
	    <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	        <i class="fa fa-user"></i> {{ currentUser.profile.name }} <b class="caret"></b>
	        <!--<i class="fa fa-user"></i> {{ currentUser._id }} <i class="fa fa-caret-down"></i>-->
	      </a>
	      <ul class="dropdown-menu">
			<!--<li>
				<a href="/editprofile">Edit Profile</a>
			</li>
			
			<li>
			<a href="/#!/settings/accounts">Manage Social Accounts</a>
			</li>
			<li data-ng-show="authentication.user.provider === 'local'">
			<a href="/#!/settings/password">Change Password</a>
			</li>-->
	        <li><a href="#" data-action="logout" id="logout"><i class="fa fa-lock"></i> Sign Out</a></li>
	      </ul>
	    </li>
	  <!--</ul>-->
	{{else}}
		{{#if notOnSignUpPage}}
		  <div class="navbar-right">
		    <a class="btn btn-default navbar-btn" data-toggle="tooltip" data-placement="top" title="already signed up? Sign in here with your Facebook account!" id="facebook-login">Sign in with Facebook</a>
		    <!--<a href="{{ pathFor 'atSignUp' }}" class="btn btn-primary navbar-btn">Register</a>-->
		  </div>
	  	{{/if}}
	{{/if}}
</template>