<template name="commentList">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title" align="left">Comments ({{commentCount}})</h4>
      <!--<span class="text-muted pull-right clickable commentHider">HIDE COMMENTS</span>-->
    </div>
      <div class="panel-body">
        {{>commentBox}}
      </div>
      {{#if songHasComments}}
        <div class="panel-body songCommentList">
          <div>
            <br>
            <div>
              {{#each commentsForThisSong}}
                {{>singleComment}}
              {{/each}}
            </div> 
          </div>
        </div>
      {{else}}
      <div class="panel-body">
        <div class="panel-footer">
          <h5 align="left"><i>Be the first to comment</i></h5>
        </div>
      </div>
      {{/if}}
  </div>
</template>