<template name="globalList">
	{{switchTabsAndAnimateListToCurrentlyPlayingSong}}
	{{#if globalSongsExist}}
		<span class="badge pull-right">{{songs.count}}</span>
	{{else}}
		<span>You're currently following everyone on Groovli! You apparently love everyone's music taste!</span>
	{{/if}}
	<ul id='globalList' class="songsList horizontal-slide">
		<li>
			{{#each songs}}
				<!--{{> globalsongItem}}-->
				{{> globalsongItemMinimal}}
			{{/each}}
		</li>
	</ul>
	<!--<div class='{{deselectedTab}}'>
		<h2 class='tabDeselectedText'>Currently deselected</h2>
	</div>-->
</template>