<template name="globalsongItemMinimal">
	<a class='thumbnail globalsongItem' href={{songID}} data-toggle="tooltip" data-placement="top" title={{songItemMessageForUser}}>
		<!--<div style="float:left;width:100px;">
			<div style="background-image: url({{youtubeThumbnail}});position:relative;top:0px;width:120px;height:90px;">
				<div class='overlay'>now playing</div>
			</div>
		</div>-->
		<center>
		<div class='songItemTextMin'><b>{{sa}} - {{st}}</b></div>
		<div class='songItemTextMin'><h6 class='text-muted'><i>originally shared to {{{songDataSource}}} by</i></h6></div>
		<div class='globalSharedByContainer' align='center'>
			{{#each sharedByDeetsForGlobalItem}}
				<img class="img-rounded globalSharedBy" style="width:20px;height:20px;" src="http://graph.facebook.com/{{strangerID}}/picture?type=square" data-toggle="tooltip" data-placement="top" title='{{strangerName}} shared this on {{strangerTimestamp}}'>
			{{/each}}
		</div>
		</center>
		<div style="clear:both;"></div>
	</a>
</template>