<template name='playerControls'>
	{{#if currentlyOnSongboard}}
		<ul class='nav navbar-nav vidControls pull-left'>
			<li title='Previous'>
				<a id='previousButton' href='#'><i class='glyphicon glyphicon-step-backward'></i></a>
			</li> 
			<li id='playButton' title='Play'>
				<a onClick='playpauseVideo();' href='#'>
					<i class='glyphicon glyphicon-play'></i>
				</a>
			</li>
			<li title='Next'>
				<a id='nextButton' href='#'><i class='glyphicon glyphicon-step-forward'></i></a>
			</li>
			<li>
				<a>
					<div id='progContainer' class='progress'>
						<div id='progBar' class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
	   					</div>
					</div>
				</a>
			</li>
			{{encounteredErroneousSong}}
		    <li>
		    	<div style='visibility:hidden; padding: 50px 0px 0px 0px;'>
		    		{{>spinner}}
		    	</div>
			</li>
		</ul>
	{{/if}}
</template>