<template name="sideNavbar">
  <nav id="sidebar">
    <dl id="sidebar_list">
      <dt>
        <a href=""><i class="fa fa-hand-o-right fa-6"></i><br />currently playing</a>
      </dt>
      <dd>
        <ul>
          <li>
            <div class="select-style">
                <select>
                  <option value="Christian">Christian</option>
                  <option value="Steve">Steve</option>
                  <option value="Laura">Laura</option>
                  <option value="Chris">Chris</option>
                </select>
            </div>
          </li>
          <li>
            <a>yes02</a>
          </li>
          <li>
            <a>yes03</a>
          </li>
          <li>
            <a>yes04</a>
          </li>
          <li>
            <a>yes05</a>
          </li>
        </ul>
      </dd>
      <!--
      <dt>
        <a href=""><i class="icon-b"></i><br />list</a>
      </dt>
      <dd>
        <ul>
          <li>
            <a>no01</a>
          </li>
          <li>
            <a>no02</a>
          </li>
          <li>
            <a>no03</a>
          </li>
          <li>
            <a>no04</a>
          </li>
          <li>
            <a>no05</a>
          </li>
        </ul>
      </dd>
      <dt>
        <a href=""><i class="icon-c"></i><br />setting</a>
      </dt>
      <dd>
        <ul>
          <li>
            <a>opp01</a>
          </li>
          <li>
            <a>opp02</a>
          </li>
        </ul>
      </dd>
      -->
    </dl>
  </nav>
</template>