<template name="songFilter">
	<div id="filter" class="col-md-4 column" style="margin-top:10px">
		<div class="panel panel-default songFilter">
			<div class="panel-heading">
				<h2 class="panel-title" title="playlists on the fly / search for songs"><i class="fa fa-filter"></i><i>&nbsp;flylist filters / song search</i></h2>
				<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
			</div>
			<div class="panel-body">
				<!--<div class="panel-heading">
					<h3 class="panel-title"><i><i class="glyphicon glyphicon-headphones"></i>&nbsp;selected tabs</i></h3>
				</div>
               {{#each playableTabs}}
               	{{{this}}}
               	&nbsp;&nbsp;&nbsp;
               {{/each}}
               <br><br>-->
				<div class="panel-heading">
					<h3 class="panel-title"><i><i class="fa fa-music"></i>&nbsp;selected genres<br></i></h3>
				</div>
				<select class="multipleGenreSelections" multiple="multiple" style="width:200px;">
					{{#each allGenres}}
						<option value="{{this}}">{{this}}</option>
					{{/each}}
				</select>
				<br><br>
				<div class="panel-heading">
				<h3 class="panel-title"><i><i class="fa fa-search"></i>&nbsp;song search<br></i></h3>
				</div>
				{{>songsearch}}
			</div>
		</div>
	</div>
</template>