<template name="songboard">
  <div class='col-md-1 column'>
  	<!--{{>sideNavbar}}-->
  </div>
  <div class='col-md-7 column'>
    <div id='player'>
		<iframe id="player" class="embed-responsive-item" type="text/html" onload='playerLoaded();' width="480" height="270"
		src="https://www.youtube.com/embed/dummyid?version=3&controls=0&enablejsapi=1&rel=0&showinfo=0&color=white&iv_load_policy=3" frameborder="0" allowfullscreen></iframe>
	</div>
	<br>
	{{#if currentUser}}
		{{>songDetails}}
	{{/if}}
	<div class="well" style="width:640px;">
		<div data-show_title="false" class="muut" id="muut-custom"></div>
	</div>
  </div>
  {{#if currentUser}}
  	{{>songTabs}}
  {{/if}}
</template>