<template name='songDetails'>
	{{#if songPlaying}}
		{{#with currentSong}}
			{{currentSongHasEncounteredAnError}}
			<div class="col-md-8 column">
				{{#if artistTrackAreNotSame}}
					<div>
						<h3>{{currentSong.sa}}</h3>
						<h4>{{currentSong.st}}</h4>
						{{#if albumDeetsNotEmpty}}
							<div>
								<h6>Track {{currentSong.trackNumber}} of {{currentSong.trackCount}}, 
								<br>from the album <b>{{currentSong.album}}</b>
								<br>released <b>{{formattedReleaseDate}}</b>
								<br>Genre: {{currentSong.genre}}</h6>
							</div>
						{{/if}}
					</div>
				{{else}}
					<div>
						<h3>{{currentSong.sa}}</h3>
					</div>
				{{/if}}
				Shared by: 
				{{#each sharedByDetailsForCurrentSong}}
					<a href="/profile/{{p_id}}" target='blank'><img class="img-rounded tastemakerFriendSharedBy" style="height: 20px;" src="http://graph.facebook.com/{{personID}}/picture?type=square" data-toggle="tooltip" data-placement="top" title='{{personName}} shared this on {{personTimestamp}}'></a>
				{{/each}}
			</div>
			<div class="col-md-4 column" align="right">
				{{>songRater}}
			</div>
		{{/with}}
	{{else}}
		<h5>still loading song...</h5>
	{{/if}}
</template>